body {
    background: #FDFDFD;
}
input.submit {
    display: block;
}

div.sampleDiv {
    background: none;
    display: none;
    width: 400px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

.codeCopy {
    display: none;
}

textarea {
    resize: none;
}

.scroller {
    overflow: auto;
}

.rowHeight {
    height: 302px;
}

div.input-group-addon {
    cursor: pointer;
}

